.App {
  text-align: center;
}
.maindiv{
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: black;
}
.subdiv{
  height: 600px;
  width: 35%;
  background-color: white;
  padding-top: 15px;

}
h3{ 
color:#89939C;
  font-weight: 900;
  font-family: Gill Sans, sans-serif;
}
form{
  margin-top: 35px;
}
h6{
  padding-top:20px;
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
.inp1{
  width: 92%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;

}
.send{
  border-radius: 3px;
  display: flex;
}
.buttons{
  margin-top: 30px;
  margin-left: 60%;
}

.PhoneInput {
	margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
