.App {
  text-align: center;
}
.maindiv{
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: black;
}
.subdiv{
  height: 600px;
  width: 35%;
  background-color: white;
  padding-top: 15px;
  font-weight: 900;

}
h3{ 
color : #6B747D;
  font-weight: 900;
  font-family: Gill Sans, sans-serif;
}
form{
  margin-top: 35px;
}
h6{
  padding-top:20px;
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
.inp1{
  width: 92%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.send{
  border-radius: 3px;
  display: flex;
}
.buttons{
  margin-top: 30px;
  margin-left: 60%;
}

.PhoneInput {
	margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.inp2{
  margin-right: 80%;
  margin-top: 11px;
  margin-left: 20px;
  width: 65px;
height: 37px;
border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  position: relative;
  z-index: 5;
  border-color: black;
  background-color: white;
  
  
    
}
.col-1{
  position: relative;
}
.custom-arrow{
  position: absolute;
  z-index: 1;
  display: block;
  margin-left: 69px;
  top:0;
  margin-left: 64px;
  margin-top: 27px;
  
background-color: black;
pointer-events: none;
}
.custom-arrow::before,
.custom-arrow::after{
  --size: 0.5rem;
content:'';
position: absolute;
width:0;
height:0;
}
.custom-arrow::before{
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
}

.inp2:focus{
outline : 4px solid rgb(166, 203, 235);
}
.inp3{
  margin-left: 37px ;
  margin-top: 10px;
  width: 430px;
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

